@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #fcfcfc;
    --foreground: #181818;
}

.dark {
    --background: #181818;
    --foreground: #fcfcfc;
}

body {
    color: var(--foreground);
    background-color: var(--background);
}
